@font-face {
    font-family: 'coolvetica';
    src: local('coolvetica'),
    url('../font/coolvetica.ttf') format('truetype');
}


.moneycard {
   
    box-sizing: border-box;
    font-family: coolvetica;
    font-size: 20px;
    align-items: center;
    gap: 10px;
}