table {
    width: 100%;
    border-collapse: collapse;
  }
  
  th, td {
    border: 1px solid #ddd;
    padding: 12px;
  }
  
  th {
    cursor: pointer;
    padding: 2px;
    background-color: #e3efff;
  }

  .searchbox
  {
    border-radius: 6px;
    margin-right: 5px;
    margin-bottom: 5px;
    padding-left: 10px;
  }