@font-face {
    font-family: 'Noyh-Heavy';
    src: local('Noyh-Heavy'),
    url('../font/Noyh-Heavy.ttf') format('truetype');
}


.side-bar-menu-font {
    font-family: Noyh-Heavy;
    font-size: 18px;
    color: aliceblue;
    
}



.side-bar-icon
{
    color:#24cd9f;
}

.side-bar-menu-item
{
    margin-top: 6%;
}


.side-bar-menu-item:hover{
  
    cursor: pointer;
    background-color: #173864;
    font-size: 21px;
    padding: 5px;
    border-radius: 10px;
    margin-left: 10px;
    margin-right: 10px;
}

.linkto
{
    text-decoration: none;
    color: aliceblue;
}

.acordian-menu .sub-menu {
    display: none; /* Hide by default */
  }
  
  .acordian-menu.active .sub-menu {
    display: block; /* Show when active */
  }
  

  .side-bar-menu-font li {
    list-style-type: none; /* Ensure no bullets for individual list items */
}
